.App {
  text-align: center;
  margin:0 auto;
  width: 100%;
}
#root{
  max-width: 90vw;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
  
}
.hola figure{
  display:grid;
margin:0;
  grid-column:1;
  width: 100%;
  
 
}
.hola div .botones{
width:60%;

}
 .hola figure img{
height:100%;
margin: auto;
}



h1{ 
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color:rgb(87, 0, 12);
  text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.205);
  width: auto;
  margin-left: 2%;
  text-align:center;
 
}
.fa-shopping-cart{
  font-size: 2rem;
  color: white;
  
}

button{
 outline: none;
 border: 1px ridge rgb(173, 95, 81);
}

button:focus{
  outline: none;
  border: 1px ridge rgb(173, 95, 81);
  box-shadow:0px 0px 3px 1px #ec0e2baf;
 }
button:disabled{
  opacity: .3;
}



/*------ ARREGALMOS HOME--------------------*/

.introFig{
  grid-column: 1;
    height:100%;
    width:100%;
box-sizing: border-box;
    margin:0;
}


.introimg{
  width:100%;
  margin-top:10%;
}



.intro p{
  color: #9b2f2f;
  padding:.2em 2em;
 line-height: 1.5em;
  font-size: 1.5em;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif ;
}
/* 



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
